#root {
  display: flex;
  height: 100dvh;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  color: #475569;
}
span {
  color: #475569;
}
h1 {
  color: #475569;
}
h2 {
  color: #475569;
}
h3 {
  color: #475569;
}
h4 {
  color: #475569;
}
